
.lot-details {
    display: flex;
    flex-direction: column;
    .btn-lg {
        margin-top: 5%;
    }

    .tab-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        h1 {
            align-self: center;
        }
    }
    
    .charts {
        display: flex;
        justify-content: baseline;
    }
    
    .card {
        margin: 5% 0%;
    
        .card-header {
            display: flex;
            justify-content: center !important;
        }
    
        .card-body {
            display: flex;
            flex-direction: column !important;
            justify-content: center !important;
        }
    }
}

.animals-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.operations {
    margin: 5% 0%;
}

.sales-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}