.scheduledSalesHeader {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.scheduledSalesBody {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}