// Components
@mixin header {
  padding: 0% 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $grey-dark;
  color: white;
}

.app-header {
  @include header;
  min-height: 8vh;
  font-size: calc(10px + 2vmin);
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
}

.app-body {
  display: flex;
  flex-direction: row;
}

.app-sidebar {
  display: flex;
  flex-wrap: initial;
  padding: 0rem;  

  .navbar-toggler {
    text-align: start;
    border: $border;
    height: 100%;
  }
  
  .sidebarClosed {
  width: 40%;
  }
}

.main {
  z-index: 1;
  width: 100%;
}

.app-aside {
  padding: 0%;
  position: fixed;
  right: 0;
  z-index: 2;
  .navbar-toggler {
    padding: 1rem;
    border: $border;
  }
}

// Elements

form, div {
  border-radius: 5px;
}
a {
  color: #fff;
}

a:hover {
  color: #fff;
}

select {
  height: 6vh;
  width: 10vw;
  font-size: 90%;
}

select:hover,
select:active,
select:focus {
  background-color: transparent;
  border: none;
  text-align: center;
  color: #fff;

  option {
    color: #000;
    background-color: $grey-light;
  }

  option:hover {
    border: none;
    background-color: $select-hover !important;
  }
}