$grey: rgb(244, 243, 243);
$grey-light: darken($grey, 10%);
$grey-dark: darken($grey, 60%);
$orange: rgb(230, 97, 46);
$border: 2px solid $grey;
$box-shadow: 0.1em 0.1em 0.1em 0.1em #f4f3f3;

//Components
$select-hover: darken($grey, 30%);