.home {
    display: flex;
    flex-direction: column;

    .card {
        margin: 2%;
    
        .card-header {
            display: flex !important;
            justify-content: space-between !important;
        }
    
        .card-body {
            display: flex;
            justify-content: space-around;
        }
    
        .card-footer {
            display: flex;
            justify-content: center;
        }
    }
}

.home-container {
    margin-top: 5%;
}

.home-header {
    display: flex;
    flex-direction: row;
}