@import '../../styles/variables.scss';

.sale {
    .card {
        width: 90%;
    }

    .card-header,
    .card-title {
    font-size: 1.5rem;
    }

    .card-body {
    font-size: 1.2rem;
    }

    .card-header,
    .card-body {
        display: flex !important;
        justify-content: center !important;
        font-weight: bold;    
    }

}

.header {
    display: flex;
}

.saleForm {
    display: flex;
    justify-content: flex-start;
    margin: 3%;
    padding: 0.5%;
    border: $border;
    box-shadow: $box-shadow;
}
